<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express and Nunjucks</title>
</head>
<body>
  <div id="app">
    <div v-for="student in students">
      <h3 v-text="student.name"></h3>
      <p v-text="student.age"></p>
    </div>
  </div>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
